@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    background-color: rgb(209, 248, 248);
    min-height: 100vh;
    border: 8px solid rgb(155, 8, 155);   
}

.content{
    max-width: 900px;
    margin: 0 auto;
}

.top-content{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top-content h1{
    font-size: 55px;
    color: rgb(98, 1, 98);
    font-weight: bold;
    text-transform: uppercase;
}

.top-content h4{
    font-size: 30px;
    color: rgb(98, 1, 98);
    text-align: end;
}


.img-container,img{
    width: 300px;
    height: 320px;
}

.img-container{
    border-radius: 50%;
    overflow: hidden;
}

.about{
    margin-top: 50px;
}

.about h2{
    font-size: 40px;
    color: rgb(98, 1, 98);
    font-weight: 450;   
    margin-bottom: 15px; 

}

.about p{
    font-size: 18px;
    color: rgb(21, 0, 21);
    line-height: 25px;
}

.discography{
    margin-top: 50px;
}

.discography table {
    margin-top: 25px;
    border-collapse: collapse;
    width: 100%;
    background-color: #f9f9f9;
    margin-bottom: 25px;
}

.discography td, th {
    border: 1px solid #afafaf;
    text-align: left;
    padding: 12px;
    color: #333333;
}

.discography th {
    text-align: center;
    background-color: #024305;
    color: white;
    font-weight: bold;
}

.discography tr:nth-child(even) {
    background-color: #f2f2f2;
}

.discography tr:hover {
    background-color: #e9e9e9;
}

.discography td {
    transition: all 0.3s ease-in-out;
}

.discography td:hover {
    background-color: #f1f1f1;
    color: #000000;
}

footer{
    margin-top: 50px;
    margin-bottom: 5px;
    text-align: end;
}